*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0;
}

@font-face{
  font-family: 'Poppins-Medium';
  src: url('/font/Poppins-Medium.otf');
}

@font-face{
  font-family: 'Poppins-Light';
  src: url('/font/Poppins-Light.otf');
}

header{
  display: flex;
  background-color: #BBE7EB;
  width: 99vw;
  height: 4rem;
  align-items: center;
}

.logo{
  width: 170px;
  height: 50px;
}

.menu{
  display: flex;
  justify-content: center;
  margin-left: 25rem;
  gap: 2rem;
  font-size: 19px;
  font-family: "Poppins-Medium";
}

.down{
  position: relative;
  display: none;
}

.searchbar{
  display: flex;
  align-items: center;
  margin-left: 13rem;
}

.searching{
  width: 15rem;
  height: 1.6rem;
  border-style: solid;
  border-color: white;
  background-color: #BBE7EB;
  font-family: "Poppins-Light";
}

.cari{
  width: 4rem;
  height: 1.6rem;
  border-style: none;
  background-color: white ;
  font-family: "Poppins-Light";
}