*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'Poppins-Medium';
  src: url('/font/Poppins-Medium.otf');
}

@font-face{
  font-family: 'Poppins-Light';
  src: url('/font/Poppins-Light.otf');
}

@font-face{
  font-family: 'Poppins-Bold';
  src: url('/font/Poppins-Bold.otf');
}

header{
  /* display: flex;
  background-color: #BBE7EB;
  width: 99vw;
  height: 4rem;
  align-items: center;
  position: fixed;
  z-index: 10000; */
}

ul li {
  font-size: 1rem;
  padding: 0 2rem;
}

header .header-container {
  display: flex;
  background-color: #BBE7EB;
  width: 99vw;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10000;
  padding: 2rem;
}

.logo{
  width: 170px;
  height: 50px;
}

li a{
  color: #77B2BB;
}

.menu {
  display: flex;
  justify-content: center;
  margin-left: 23rem;
  gap: 2rem;
  font-size: 19px;
  font-family: "Poppins-Medium";
  color: #77B2BB;
  cursor: pointer;
}

.option:hover{
  text-decoration: underline;
}

.down{
  position: relative;
  display: none;
}

.searchbar{
  display: flex;
  align-items: center;
  
}

.searching{
  width: 15rem;
  height: 1.9rem;
  border-style: solid;
  border-color: white;
  background-color: #BBE7EB;
  font-family: "Poppins-Light";
  color: #77B2BB;
}

.cari{
  width: 4rem;
  height: 1.9rem;
  border-style: none;
  background-color: white ;
  font-family: "Poppins-Medium";
  cursor: pointer;
  color: #77B2BB;
}

.cari:hover{
  background-color: #a6cbcf;
  color: white;
  transition: ease-in-out 0.2s;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.dot {
  cursor: pointer;
  height: 70px; 
  width: 70px;   
  margin: 0 5px; 
  display: inline-block;
  transition: transform 0.5s ease-in;
}

.dot img {
  width: 100%;
  height: 100%;
  border-radius: 5px; 
  object-fit: cover;  
}

.active img {
  border: 2px solid #717171; 
}

.dot img:hover {
  transform: scale(1.1);  
}

#section1{
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-left{
  flex-wrap: wrap;
}

.judul{
  font-family: "Poppins-Bold";
  font-size: 2rem;
}

.about{
  font-family: "Poppins-Light";
  font-size: 1.2rem;

}

.img{
  margin-left: rem;
  width: 377px;
  height: 377px;
}

.btn{
  display: flex;
  margin-right: 10rem;
}

.about-btn{
  font-family: "Poppins-Medium";
  font-size: 1rem;
  border: none;
  border-radius: 3rem;
  width: 8rem;
  height: 4rem;
  background-color: #6BBCC9;
  color: white;
  cursor: pointer;
}

.about-btn2{
  font-family: "Poppins-Medium";
  font-size: 1rem;
  border: none;
  border-radius: 3rem;
  width: 8rem;
  height: 4rem;
  background: none;
  color: #6BBCC9;
  border: solid;
  border-color: #6BBCC9;
  cursor: pointer;
}

#section2{
  padding: 0 2rem;
  width: 100vw;
  height: 100vh;
}

.news-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.judul-news{
  font-family: "Poppins-Bold";
  font-size: 2rem;
}

.news-text{
  font-family: "Poppins-Medium";
  font-size: 1.2rem;
  margin-top: -0.1rem;
}

.news-desc{
  font-family: "Poppins-Light";
  color: #C5C5C5;
  margin-top: -1.6rem;
}

.news-img{
  width: 25rem;
  height: 13rem;
}