*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0;
}

@font-face{
  font-family: 'Poppins-Medium';
  src: url('/font/Poppins-Medium.otf');
}

@font-face{
  font-family: 'Poppins-Light';
  src: url('/font/Poppins-Light.otf');
}

@font-face{
  font-family: 'Poppins-Bold';
  src: url('/font/Poppins-Bold.otf');
}

header{
  display: flex;
  background-color: #BBE7EB;
  width: 99vw;
  height: 4rem;
  align-items: center;
}

.logo{
  width: 170px;
  height: 50px;
}

.menu{
  display: flex;
  justify-content: center;
  margin-left: 23rem;
  gap: 2rem;
  font-size: 19px;
  font-family: "Poppins-Medium";
  color: #77B2BB;
  cursor: pointer;
}

.option:hover{
  text-decoration: underline;
}

.down{
  position: relative;
  display: none;
}

.searchbar{
  display: flex;
  align-items: center;
  margin-left: 15rem;
}

.searching{
  width: 15rem;
  height: 1.9rem;
  border-style: solid;
  border-color: white;
  background-color: #BBE7EB;
  font-family: "Poppins-Light";
  color: #77B2BB;
}

.cari{
  width: 4rem;
  height: 1.9rem;
  border-style: none;
  background-color: white ;
  font-family: "Poppins-Medium";
  cursor: pointer;
  color: #77B2BB;
}

.cari:hover{
  background-color: #a6cbcf;
  color: white;
  transition: ease-in-out 0.2s;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.dot {
  cursor: pointer;
  height: 50px; 
  width: 50px;   
  margin: 0 5px; 
  display: inline-block;
  transition: transform 0.3s ease;
}

.dot img {
  width: 100%;
  height: 100%;
  border-radius: 5px; 
  object-fit: cover;  
}

.active img {
  border: 2px solid #717171; 
}

.dot img:hover {
  transform: scale(1.1);  
}